In [1]:
# write a program to print all numbers between 1-100 where number is divisible by 4 or 9 and contaian two digits
for num in range(10, 100):   
    if num % 4 == 0 or num % 9 == 0:
        print(num)

12
16
18
20
24
27
28
32
36
40
44
45
48
52
54
56
60
63
64
68
72
76
80
81
84
88
90
92
96
99

In [2]:
# take a string input and print 'storng' if it contain at least one uppercase , one lower case , 
# one digit otherwise print 'weak'
s = input("Enter a string: ")

has_upper = any(ch.isupper() for ch in s)
has_lower = any(ch.islower() for ch in s)
has_digit = any(ch.isdigit() for ch in s)

if has_upper and has_lower and has_digit:
    print("strong")
else:
    print("weak")

Enter a string:  rH1

strong

# write a program that counts how many increasing sequence exists in a list of integer 
nums = [1, 2, 5, 3, 4, 8, 7]

count = 0

for i in range(len(nums)

In [ ]:
# write a program to calculate the sum of digits of number without converting into string
n = int(input("Enter number: "))
sum = 0

while n != 0:
    d = n % 10
    sum = sum + d

print("Sum of digt", sum)

Enter number:  5

In [7]:
# write a function that accepts a list and return (total_sum , total_count , average , sum_of_even , sum_of_odd)
def calculate(lst):
    total_sum = 0
    total_count = 0
    sum_even = 0
    sum_odd = 0

    for num in lst:
        total_sum += num
        total_count += 1

        if num % 2 == 0:
            sum_even += num
        else:
            sum_odd += num

    average = total_sum / total_count

    return total_sum, total_count, average, sum_even, sum_odd
    
numbers = [10, 5, 7, 2, 8]
result = calculate(numbers)

print(result)

(32, 5, 6.4, 20, 12)

In [ ]:
#create a function that returns unique value , duolicate value and a frequency dictionaey from a given list 
def list(lst):
    freq = {}

    for x in lst:
        if x in freq:
            freq[x] += 1
        else:
            freq[x] = 1

    unique_values = []
    duplicate_values = []

In [10]:
# write a function that accepts a  list of tuples and returns a list containing the sum pf each tuple,doubling 
#the value for single elemnet tuple
def tuple_sum(lst):
    result = []

    for t in lst:
        if len(t) == 1:        
            result.append(t[0] * 2)
        else:                  
            s = 0
            for x in t:
                s = s + x
            result.append(s)

    return result
data = [(3, 4), (10,), (5, 5, 5), (7,)]
print(tuple_sum(data))

[7, 20, 15, 14]

In [13]:
# using map and lambda  convert a list so negative number become positive , zero become 'zero' ,
#positive number remain unchanged 
lst = [3, -5, 0, 8, -2, 0]
result = list(map(lambda x: 'zero' if x == 0 else x if x > 0 else x * -1, lst))
print(result)

[3, 5, 'zero', 8, 2, 'zero']

In [14]:
# use filter and lambda to keep only values that are multiple of 3 and also 
# leave a remainder of 1 when divided by 4 

lst = [1, 3, 4, 7, 9, 10, 13, 15, 16, 19, 21]
result = list(filter(lambda x: x % 3 == 0 and x % 4 == 1, lst))
print(result)

[9, 21]

In [15]:
# use enumarate() to print items where index + value is even 
lst = [3, 5, 2, 8, 7, 4]
for i, v in enumerate(lst):
    if (i + v) % 2 == 0:
        print(i, v)

1 5
2 2

In [19]:
#use reduce to return the difference between the sum of odd and sum of even number 
from functools import reduce
lst = [1, 4, 5, 8, 3, 10]
result = reduce(lambda a, x: a + x if x % 2 == 0 else a - x, lst)
print(result)

15

In [24]:
# given a list remove duplicate , sort ascending , convert to a tuple and print first, middel,last element 

lst = [ 13,2,9,0,55]
lst = list(set(lst))
print(lst)

t = tuple(lst)
print(t)

print("first",t[0])
print("last",t[-1])

[0, 2, 9, 13, 55]
(0, 2, 9, 13, 55)
first 0
last 55

In [25]:
# convert a tuple into list , remove elements at even position and convert it back to a tuple 

t = (10, 20, 30, 40, 50, 60)
lst = list(t)
new_list = []
for i in range(len(lst)):
    if i % 2 != 0:    
        new_list.append(lst[i])
result = tuple(new_list)
print(result)

(20, 40, 60)

In [26]:
# given a set , add and remove elemnts, create a new set with each elemnt divided by 2 and print both sets
s = {10, 20, 30, 40}
s.add(50)
s.remove(20)
new_set = set()
for x in s:
    new_set.add(x / 2)
print("Original set:", s)
print("New set:", new_set)

Original set: {40, 10, 50, 30}
New set: {25.0, 20.0, 5.0, 15.0}

In [28]:
# modify a dictionary so that it contsins discounted price, price cateory and the name in uppercase
product = {
    "name": "mobile",
    "price": 12000
}
product["name"] = product["name"].upper()
if product["price"] >= 10000:
    product["category"] = "High"
else:
    product["category"] = "Low"

print(product)

{'name': 'MOBILE', 'price': 12000, 'category': 'High'}

In [ ]:
# given is list of students dictionaries , convert each to the format'name:average'

In [31]:
# take an integer input and raise a coustom exception if the number is below 10; handle invalid input and always print a completion message 
a = int(input("enter any number"))

try :
    a < 10 
    print("good to go")

except singledigitnum:
    print("single digit number")

else:
    print("number is less than 10")

finally:
    print("succesful")

enter any number 6

good to go
number is less than 10
succesful

In [ ]:
# write a program to acces index 5 of a list l if indexeroor occurs , repeat the last element three times

In [32]:
# create a file write marks entered by the user, then read and print the highest , lowest and average marks 

file = open("marks.txt", 'x')
file.close()

In [ ]:
a = int(input("enter the marks"))
with open(file, "x") as f:
        f.write(a + "\n")
        print("marks entered successfully")
file.close()

In [ ]:
# create file with names enntered by user and print only those name with more than five character 

file = open("names.txt", 'x')
file.close()